// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #395075;
$deep-blue: #251F47;
$yellow: #FDB631;
$orange: #E67E22;
$green: #71B48D;
$gray: rgb(15, 15, 15);
$light-gray: #EFF4F4;
// $light-gray: #F4F4F4;
$our-turquoise: #65D8DF;
$our-blue: #1544ED;
