// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #395075;
$deep-blue: #251F47;
$yellow: #FDB631;
$orange: #E67E22;
$green: #B3E8A2;
$gray: rgb(15, 15, 15);
// $light-gray: #deeaea;
$light-gray: #c6d7e3;
$our-turquoise: #65D8DF;
$our-blue: #1544ED;
$new-blue: rgb(104, 178, 223);
$dark-gray: #373F47;
