.title-center {
  margin: auto;
}

.form-title-loginup {
  text-align: center;
  color: $green;
  font-size: 30px;
  font-weight: bold;
}

.btn-centered {
  margin:auto;
  padding: 5px 35px;
}

.form-button-centered {
  text-align: center;
}

.box a{
  font-size: 88%;
  color: #868686;
}

