.project {
  p {
    margin: 0;
    color: rgba(0,0,0,0.8);
  }
}

// PAGE HEAD
.project-head, .tracks-head {
  border-bottom: 1px groove rgba(0,0,0,0.1);
  padding: 16px;
}
.project-head {
  margin-top: 32px;
  border-top: 1px groove rgba(0,0,0,0.1);
  h1.project-name {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    color: $new-blue;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
  }
  .fa-calendar {
    padding-right: 5px;
  }
}
.tracks-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-weight: normal;
  }
}

// TRACK INDEX
.tracks-list {
  list-style: none;
  margin: 32px 0;
  padding: 0;
}
.track-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 1px 1px 2px $light-gray;
  margin-bottom: 3px;
  background-color: white;
  &:hover {
    // needed so pics-gradient doesn't show upon hover
    position: relative;
    // z-index: 10;
    box-shadow: 4px 8px 32px rgba(0,0,0,0.3);
    border-left: 6px solid $new-blue;
  }
  transition: all 0.2s ease;

  // INSIDE EACH TRACK
  // Clickable
  a.link-to-track {
    text-decoration: none;
    flex: 1 1 auto;
  }
  .clickable-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // Avatars
  .talents-pics {
    display: flex;
    flex-wrap: nowrap;
    padding: 8px 0 8px 40px;
    flex: 0 0 25%;
    position: relative;
    // prevents tooltip from being displayed but avoids pics overflowing
    overflow-x: hidden;
    .pics-gradient {
      position: absolute;
      right: 0;
      width: 32px;
      height: 100%;
      background: linear-gradient(-90deg, rgba(255,255,255,0.8), transparent);
    }
    .track-avatar {
      height: 72px;
      width: 72px;
      border-radius: 50%;
      border: 2px solid $light-gray;
      box-shadow: 1px 1px 2px rgba(57, 80, 117, 0.3);
      margin-left: -24px;
    }
  }
  // .tooltip {
  //   z-index: 15;
  // }

  // Track details
  .track-title {
    flex: 0 0 20%;
    font-weight: normal;
  }
  .track-start-date {
    flex: 0 0 20%;
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    font-weight: lighter;
  }

  // Sessions count
  .sessions-count {
    flex: 0 0 20%;
    p {
      color: $new-blue;
    }
  }

.tooltip {
  z-index: 5;
  width: 60%;
}

.fa-calendar {
  padding-right: 5px;
 }
    
  // Edit and delete
  .controls {
    flex: 0 1 auto;
    padding-right: 16px;
    flex-wrap: wrap;
  }
}

.no-one {
  visibility: hidden;
}
