.project-header {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h6 {
    font-size: 14px;
    font-weight: lighter;
  }
  h1 {
    font-size: 40px;
    color: $blue;
    font-weight: bold;
  }
}

.project-titles {
  text-align: center;
}

.project-owner-div {
  display: flex;
  align-items: center;
}

.track-index a h3,
.track-index a p {
  color: black;
  text-decoration: none;
}

.track-index a:hover h3 {
  color: white !important;
  text-decoration: none;
}

.track-index a p {
  color: rgb(190, 190, 190) !important;
}

.track-index {
  background-color: white;
  padding: 50px;
  border-radius: 3px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

.collaborators {
  text-align: right;
}

.collaborators p {
  padding-top: 10px;
  color: rgb(190, 190, 190) !important;
  font-size: 14px;
}


.track-card-new {
  text-align: center;
  margin: auto;
}

.track-index button:hover {
  h3 {
    color: white;
  }
}

.track-card-new button:hover h3 {
  color: white !important;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal.fade .modal-dialog {
  transform: translate3d(0, 50vh, 0);
}

.modal.in .modal-dialog {
  transform: translate3d(0, 0, 0);
}

.card-link {
  z-index: 0;
}

#tooltip-top > .tooltip-inner {
  background-color: #fff;
  color: #000;
  border: 1px solid #062e56;
}

#tooltip-top > .tooltip-arrow {
  border-top: 5px solid #062e56;
}
