.project-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: $green;
}

.musician-avatar {
  margin: 1px;
}

.fontawesome-buttons {
  font-size: 22px;
  display: flex;
  a {
    color: $blue;
    &:hover {
    color: rgba(0,0,0,0.4);
    }
  }
}

.delete-button {
  margin-right: 3px;
}

.create-title {
  color: $green;
}

#new-project {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.project-box {
  position: relative;
  margin-top: 20px;
  &:hover {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.modal-content {
  color: black;
}

.project-detail {
  position: relative;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 300px;
}

.project-title {
  text-align:center;
  color: $blue;
}

.link-create-project {
  text-align:center;
  color: $green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.project-tracklist {
  color: rgba(0,0,0,0.6);
  padding: 0px 20px 0px 20px;
}

.project-track {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-title {
  margin-bottom: 25px;
  color: $blue;
}

.button-add-track {
  background-color: $green;
  text-decoration: none;
  color: white;
  height: 45px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align:center;
  font-weight: bold;
  &:hover {
    background-color: #269b7e;
  }
}

.track-button-add {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: white;
  margin: auto;
  padding: 10px;
}

.project-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.project-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin-bottom: 0px;
  }
}

.project-main-layer {
  position: absolute;
  top: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: red;
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
}

.owner-avatar {
  position: absolute;
  top: 5px;
  right: 5px;
}

.small-margin {
  margin-right: -10px;
  margin-left: 0px;
}
