.project-header {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h6 {
    font-size: 14px;
  }
}

.project-owner-div {
  display: flex;
  align-items: center;
}

.track-index a {
  text-decoration: none;
}
