//OVERALL CONTAINER
.sessions-list {
  width: 52vw;
}

// BUTTONS
.download {
  .group-btn button {
    border: 1px solid rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.6);
  }
}

.group-btn button, .group-btn a {
  text-decoration: none;
  border: none;
  border-radius: 4px;
  margin-left: 3px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 2px 10px 0px 10px;
  background-color: white;
  text-align: center;
  font-size: 16px;
  color: rgba(0,0,0,0.7);
  a {
    text-decoration: none;
    background-color: transparent;
    color: rgba(0,0,0,0.7);
  }
  i, .caret {
    margin-right: 4px;
    font-size: 14px;
  }
  &:hover {
    border: 1px solid rgba(0,0,0,0);
    color: white;
    background-color: rgba(104, 178, 223, 0.8);
    box-shadow: 4px 4px 16px rgba(104, 178, 223, 0.5);
    .caret {
      border-top: 6px dashed white;
    }
    a {
      color: white;
    }
  }
}

.download-btn {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: $dark-gray;
  box-shadow: 4px 4px 8px rgba(110, 110, 110, 0.5);
  &:hover {
    background-color: $new-blue;
    box-shadow: 4px 4px 16px rgba(104, 178, 223, 0.5);
  }
}

#playlist-toggle-caret {
  transform: rotate(-90deg);
}

#talents_dropdown {
  margin-bottom: 15px;
}

.controls-btn {
  flex: 1 1 25%;
  border-right: solid 1px white;
  outline: none !important;
  text-decoration: none;
  // border-radius: 4px;
  // margin: 5px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: transparent;
  border-radius: 0px;

  &:focus {
    color: white;
  }

  a {
    font-size: 16px;
    text-decoration: none;
    background-color: transparent;
    color: white;
  }
  &:hover {
    color: $new-blue;
    background-color: white;
    .caret {
      color: $new-blue;
      border-top: 6px dashed $new-blue;
    }
    a {
      color: $new-blue;
    }
  }
  i, .caret {
    margin-right: 4px;
  }
  transition: all ease 0.2s;
}

.owner-name {
  a {
    text-decoration: none;
    color: $new-blue;
  }
}

button.controls-btn:active {
  color: white;
}

.toolbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $new-blue;
  display: flex;
  width:100%;
  height:25%;
  position: relative;
  overflow: hidden;
}

// PAGE HEAD
.track-head, .sessions-head, .brief-head {
  border-bottom: 1px groove rgba(0,0,0,0.1);
  padding: 16px;
  p {
    margin-right: 50px ;
    color: rgba(0,0,0,0.6);
    text-align: justify;
  }
}
.track-head {
  margin-top: 32px;
  border-top: 1px groove rgba(0,0,0,0.1);
}

.track-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: $new-blue;
    text-decoration: none;
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
  }
  h3 {
    color: rgba(180, 180, 180, 0.9);
    font-size: 20px;
    margin-top: 0px;
    font-weight: 400;
  }
}

.track-details {
  display: flex;
  justify-content: space-between;
  // align-items: flex-end;
}
.track-name {
  margin-top: 0;
  font-size: 40px;
  font-weight: bold;
  color: $new-blue;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

#modalDownload {
  ul {
    list-style: none;
    padding-left: 5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
    font-size: 14px;
  }
  span {
    font-style: normal;
    color: black;
    font-size: 16px;
    & a:hover {
      color: $new-blue;
    }
  }
}

#audio_file_audio {
  padding: 10px;
}
.sessions-head, .brief-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
  }
}
#editBrief .modal-body {
  height: 256px;
}

// SESSIONS INDEX
.session-index {
  margin-bottom: 25px;
  padding: 16px 0px;

}
.the-box {
  margin: 20px 0 10px 0;
  position: relative;
  width: 50vw;
  padding: 15px 0px;
}
.session-box {
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 1px groove rgba(0,0,0, 0.2);
  background-color: white;
  box-shadow: 10px 10px 24px 0px #c1e2ef;
  overflow: hidden;
}
// Inside each session
.img-item {
  position: relative;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
  .avatar-sq, .img-gradient {
    height: 160px;
    width: 160px;
  }
  .img-gradient {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-225deg, rgba(104, 178, 223,0.6) 0%, rgba(0, 45, 76,0.2) 95%);
    z-index: 10;
  }
}
.audio-item {
  flex-grow: 1;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  // overflow: hidden;
  .player {
    height: 100%;
    .player-title {
      margin-top: 14px;
    }
  }
}

//COMMENTS
.comments-area {
  background-color: white;
  padding: 5px 0 3px 14px;
  box-shadow: inset 1px 1px 2px rgba(0,0,0, 0.2);
  border-radius: 4px;
  color: rgba(0,0,0, 0.2);
}

.audiofile-comments {
  width: 50vw;
}

.version-button {
  border-right: none;
}

.talent-toolbox {
  h6 {
    color: white;
    font-size: 20px;
    margin: 0px;
    font-weight: 400;
  }
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  // border-bottom: solid 1px white;
}

.owner-and-dates {
  p {
    margin-bottom: 5px;
  }
}
