// TO DO: retirer toutes les background-color de placeholders

.sessions-list {
  background-color: rgba(255, 255, 255, 1);
  .brief {
    position: relative;
  }
}

.session-box {
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.img-item {
  background-color: rgba(0, 0, 0, 0.1);
  .avatar-sq {
    height: 160px;
    width: 160px;
    margin-right: 5px;
    border-radius: 3px;
  }
}

.audio-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .player {
    margin-bottom: 5px;
    height: 100%;
    // padding: 5px;
    // background-color: rgba(0, 0, 0, 0.3);
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .up-down {
    flex-grow: 1;
  }
  .upload-btn, .download-btn, .comments-btn {
    padding: 2px 13px;
    height: 22px;
    font-size: 13px;
    border: none;
  }
}




