// above footer
.full-page {
  min-height: calc(100vh - 170px);
}

// footer
.footer {
  background: rgba(255,255,255,0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.5);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $our-turquoise;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: darken($our-turquoise, 15%);
}
