.icon-btn {
  height: 34px;
  width: 34px;
  margin-left: 3px;
  padding-top: 6px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.our-cta-btn {
  color: white;
  background-color: rgba(21, 68, 237, 0.8);
  box-shadow: 4px 4px 16px rgba(21, 68, 237, 0.5);
  &:hover {
    background-color: rgba(21, 68, 237, 0.9);
    box-shadow: 5px 5px 20px rgba(21, 68, 237, 0.5);
    transition: all 0.3s ease;
  }
}

.our-dormant-btn {
  color: rgba(0,0,0,0.3);
  background-color: transparent;
  &:hover {
    color: white;
    background-color: rgba(21, 68, 237, 0.8);
    box-shadow: 4px 4px 16px rgba(21, 68, 237, 0.5);
    transition: all 0.3s ease;
  }
}
