.comment-box {
  display: flex;
  padding: 2px 20px;
  border-bottom: 1px solid rgba(220,224,244,0.8);
}

.comment-body {
  padding-left: 10px;
  flex-grow: 1;
}

.avatar-comment {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.comment-body p {
  margin-bottom: 9px;
  margin-top: 6px;
  font-weight: 400;
  word-break: break-word;
}

.comment-body h6 {
  margin-top: 6px;
  margin-bottom: 1px;
  color: rgb(168,168,168);
}

.comment-flexbox-class {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  .form-group {
    width: 100%
  }
}

.send-comment {
  height: 39px;
  margin-left: 10px;
}

.comment-time:hover {
  color: #424242;
  cursor: pointer;
}
