.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal.fade .modal-dialog {
  transform: translate3d(0, 50vh, 0);
}

.modal.in .modal-dialog {
  transform: translate3d(0, 0, 0);
}

.modal-header {
  position: relative;
  background-color: $new-blue;
  color: white;
  height: 40px;
  align-items: center;
  h4 {
    font-size: 18px;
  }
  padding: 10px;
  span {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

.modal-body {
  .form-group {
    padding-top: 7px 0px;
  }
}
